@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');
@import "./header.scss";
@import "./aboutUs.scss";
@import "./animation.scss";
@import "./ourGames.scss";
@import "./ourPartners.scss";
@import "./contactUs.scss";
@import "./footer.scss";
@import "./transitions.scss";

a:focus,
a:hover {
  text-decoration: none !important;
}

body {

  h2,
  h3 {
    margin-top: 0;
  }
}

input {
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

.arrow-down {
  font-size: 18px;
  bottom: 20%;
  right: 10px;
  z-index: 99;
  position: fixed;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  padding: 15px;

  @media (max-width: 480px) {
    bottom: 40px;
    right: 0;
  }
}

.arrow-down img {
  width: 70px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  scroll-behavior: smooth;
}